.card-container {
    background: rgb(202, 225, 238);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    opacity: 80%;
    margin-top: 20px;
}

.card-container:hover{
    opacity: 100%;
    transform: translateY(10px);
    transition: transform 0.3s ease-in-out;
}

.card-contents {
    display: flex;
    flex-direction: column;
}

.position-text {
    background: linear-gradient(to right, rgb(0, 111, 176),  rgb(39, 158, 227));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-style {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

h1,
.link-text {
    color: black;
}

.projects-link {
    font-size: large;
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

li {
    color: black;
}

.resume-button {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.skill-items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.list-items:hover,
a:hover {
    color: rgba(64, 185, 254, 255);
}

@media screen and (max-width:576px) {
    .img-style {
        width: 100px;
        height: 100px;
    }
}